h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* margin: 2em 4em; */
    text-align: center;
    /* margin-top: 0%; */
    /* background-color: #2cf9f9; */
}


/* .mamonas{
    width: 100px;
}
#caramelo{
    width: 200px;
}
#biscoito{
    width: 200px;
} */
/* #pokemonsBrasil */
article img{
    width: 700px;
    /* margin-left: 100px; */
    margin: 20px;
}

body{
    background-color: bisque;
    /* margin: 0%; */
}

 /* #topo{
    position: relative;
    z-index: 9;
    height: 48px;
    display: flex;
    box-sizing: border-box;
    background: rgb(232, 154, 154);
    margin: 0 auto;
}  */

img{
    width: 45%;
    display: inline;
}
.btn-secreto{
    width: 100px;
    margin-bottom: 100px;
}