
html
{
    background-color: rgb(96, 144, 216);
}
body
{
    background-color: rgb(198, 224, 236);
    width: 80%;
    border-radius: 1em;
    padding: 5%;
}
h1
{
    font-family: Helvetica, Arial,  sans-serif
}
p
{
    /* font-family: 'Courier New', Courier, monospace; */
    font-family: 'Times New Roman', Times, serif;
    /* font-family: Helvetica, Arial,  sans-serif */
}

#botao_inutil
{
    width: 90px;
    height: 20px;
    padding: 1em;
    background-color: rgb(194, 194, 194);
    box-shadow: 5px 5px 8px;
    border-radius: 25px;
    text-align: center;
    
}
#botao_inutil:hover
{
    width: 92px;
    height: 22px;    
}
#botao_inutil:active
{
    background-color: red;    
}