p{
    margin: 20px;

}

body
{
    background-color:rgb(198, 224, 250);
}

body > p:nth-child(3) > strong{

}

#segundo-titulo{
    font-size: xx-small;
}

.titulo-pequeno{
    font-size: xx-small;
}

ul+li{

}


/* body > div > header > div > button */